# Process

Update the data files to process time and places

In [108]:
import json

import pandas as pd
import networkx as nx
import numpy as np

In [109]:
def compute_year(time_value: str):
    # print(time_value)
    if pd.isna(time_value): return np.nan
    
    time_value = str(time_value)
    if time_value[-1] == "s":
        year = time_value[-5:-1]
    else:
        year = time_value[-4:] 
    
    year = int(year)
    # print(time_value, year)
    return year

In [110]:
# folder = "../data/april-02/"
folder = "../data/april-26/"

In [111]:
events_fp = folder + "Events.csv"
institutions_fp = folder + "Institutions.csv"
people_fp = folder + "People.csv"
publications_fp = folder + "Publications.csv"
events_fp = folder + "Events.csv"

person_institution_fp = folder + "Person-Institution.csv"
person_publication_fp = folder + "Person-Publication.csv"
person_event_fp = folder + "Person-Event.csv"

In [122]:
df_pi = pd.read_csv(person_institution_fp, header=0, sep=",")

In [113]:
df_pp = pd.read_csv(person_publication_fp, header=0, sep=",")

In [114]:
df_pe = pd.read_csv(person_event_fp, header=0, sep=",")

In [123]:
df_pi

,Person,Institution,Type of relationship (general),"Type of relationship (specific - professor, director, etc)",Time (discrete or interval),Time category,Place,Brief note,Event
0,Bethwell Ogot,Makerere University,Academic,Lecturer in History Department,NaN,NaN,NaN,Friend of Tom Mboya,NaN
1,Bethwell Ogot,University of Nairobi,Academic,Head of History Department,NaN,NaN,NaN,NaN,NaN
2,Bethwell Ogot,East African Institute for Social and Cultural...,Secretary General,NaN,NaN,NaN,NaN,NaN,NaN
3,Bethwell Ogot,East African Publishing House,Chair of Board of Directors,NaN,NaN,NaN,NaN,NaN,NaN
4,Bethwell Ogot,East African Academy,Treasurer,NaN,1966,Year,NaN,"Elected treasurer at the 1966 symposium, Kampala",NaN
...,...,...,...,...,...,...,...,...,...
165,A Senyoga,Pan-African Freedom Movement for East and Cent...,Represented Uganda National Congress,NaN,February 1962,NaN,Addis Ababa,NaN,Yes
166,S S Kigonya,Pan-African Freedom Movement for East and Cent...,Uganda Democratic Party,NaN,February 1962,NaN,Addis Ababa,NaN,Yes
167,O Shariff,Pan-African Freedom Movement for East and Cent...,Represented Afro-Shirazi Party,NaN,February 1962,NaN,Addis Ababa,NaN,Yes
168,A K Hanga,Pan-African Freedom Movement for East and Cent...,Represented Afro-Shirazi Party,NaN,February 1962,NaN,Addis Ababa,NaN,Yes
169,Amani Thani,Pan-African Freedom Movement for East and Cent...,Represented Afro-Shirazi Party,NaN,February 1962,NaN,Addis Ababa,NaN,Yes

In [116]:
df_pe.head()

,Person,Event,"Type of relationship (participated, created, against)",Time
0,Rebeka Njau,African Writers Conference,Participated,11-17 June 1962
1,Grace Ogot,African Writers Conference,Participated,11-17 June 1962
2,NgÅ©gÄ© wa Thiong'o,African Writers Conference,Participated,11-17 June 1962
3,Rajat Neogy,African Writers Conference,Participated,11-17 June 1962
4,John Nagenda,African Writers Conference,Participated,11-17 June 1962

In [117]:
df_pe["Year"] = df_pe["Time"].apply(compute_year)

In [118]:
df_pp["Year"] = df_pp["Date written for publication"].apply(compute_year)

In [125]:
df_pi.head()

,Person,Institution,Type of relationship (general),"Type of relationship (specific - professor, director, etc)",Time (discrete or interval),Time category,Place,Brief note,Event,Year
0,Bethwell Ogot,Makerere University,Academic,Lecturer in History Department,NaN,NaN,NaN,Friend of Tom Mboya,NaN,NaN
1,Bethwell Ogot,University of Nairobi,Academic,Head of History Department,NaN,NaN,NaN,NaN,NaN,NaN
2,Bethwell Ogot,East African Institute for Social and Cultural...,Secretary General,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bethwell Ogot,East African Publishing House,Chair of Board of Directors,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bethwell Ogot,East African Academy,Treasurer,NaN,1966,Year,NaN,"Elected treasurer at the 1966 symposium, Kampala",NaN,1966.0

In [128]:
# take only non event institutions
df_pi = df_pi[df_pi["Event"] != "Yes"]

In [134]:
df_pi["Year"] = df_pi["Time (discrete or interval)"].apply(compute_year)

/tmp/ipykernel_1736344/278689689.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pi["Year"] = df_pi["Time (discrete or interval)"].apply(compute_year)

In [131]:
df_pi.to_csv(person_institution_fp)

In [132]:
df_pp.to_csv(person_publication_fp)

In [133]:
df_pe.to_csv(person_event_fp)

# Filter institutions

In [101]:
df_i = pd.read_csv(institutions_fp, header=0, sep=",")

In [138]:
df_i = df_i[df_i.Event != "Yes"]

In [140]:
#df_i["Date of Creation"] = df_i["Date of Creation"].astype('Int64')

In [142]:
#df_i["Date of closing"] = df_i["Date of closing"].astype('Int64')

In [103]:
df_i.head()

,Name,"General Info (biography, description, etc)",Date of Creation,Date of closing,Place,Event
0,Makerere University,Makerere College was established in 1922 as a ...,1922.0,NaN,Kampala,NaN
1,University of Nairobi,The University of Nairobi was established as R...,1956.0,NaN,Nairobi,NaN
2,East African Institute for Social and Cultural...,The East African Institute for Social and Cult...,1963.0,NaN,Nairobi,NaN
3,East African Swahili Committee,Founded as the Inter-territorial Language (Swa...,1930.0,NaN,Dar es Salaam,NaN
4,Paa ya Paa Gallery,Founded in 1965 by Elimo Njau. Oldest indigeno...,1965.0,NaN,Nairobi,NaN

In [104]:
df_i.to_csv(institutions_fp)