# Process

Update the data files to process time and places

In [1]:
import json

import pandas as pd
import networkx as nx
import numpy as np

In [2]:
def compute_year(time_value: str):
    # print(time_value)
    if pd.isna(time_value): return np.nan
    
    time_value = str(time_value)
    if time_value[-1] == "s":
        year = time_value[-5:-1]
    else:
        year = time_value[-4:] 
    
    year = int(year)
    # print(time_value, year)
    return year

In [3]:
folder = "../data/april-02/"

In [4]:
events_fp = folder + "Events.csv"
institutions_fp = folder + "Institutions.csv"
people_fp = folder + "People.csv"
publications_fp = folder + "Publications.csv"
events_fp = folder + "Events.csv"

person_institution_fp = folder + "Person-Institution.csv"
person_publication_fp = folder + "Person-Publication.csv"
person_event_fp = folder + "Person-Event.csv"

In [5]:
df_pi = pd.read_csv(person_institution_fp, header=0, sep=",")

In [7]:
df_pp = pd.read_csv(person_publication_fp, header=0, sep=",")

In [13]:
df_pe = pd.read_csv(person_event_fp, header=0, sep=",")

In [9]:
df_pi.head()

,Unnamed: 0,Person,Institution,Type of relationship (general),"Type of relationship (specific - professor, director, etc)",Time (discrete or interval),Brief note,Year
0,0,Bethwell Ogot,Makerere University,Academic,Lecturer in History Department,NaN,Friend of Tom Mboya,NaN
1,1,Bethwell Ogot,University of Nairobi,Academic,Head of History Department,NaN,NaN,NaN
2,2,Bethwell Ogot,East African Institute for Social and Cultural...,Secretary General,NaN,NaN,NaN,NaN
3,3,Bethwell Ogot,East African Publishing House,Chair of Board of Directors,NaN,NaN,NaN,NaN
4,4,Bethwell Ogot,East African Academy,Treasurer,NaN,1966,"Elected treasurer at the 1966 symposium, Kampala",1966.0

In [20]:
df_pe.head()

,Person,Event,"Type of relationship (participated, created, against)",Time,Year
0,Rebeka Njau,African Writers Conference,Participated,11-17 June 1962,1962
1,Grace Ogot,African Writers Conference,Participated,11-17 June 1962,1962
2,Ngũgĩ wa Thiong'o,African Writers Conference,Participated,11-17 June 1962,1962
3,Rajat Neogy,African Writers Conference,Participated,11-17 June 1962,1962
4,John Nagenda,African Writers Conference,Participated,11-17 June 1962,1962

In [15]:
df_pe["Year"] = df_pe["Time"].apply(compute_year)

In [127]:
df_pp["Year"] = df_pp["Date written for publication"].apply(compute_year)

1974
1974 1974
1976
1976 1976
September 1963
September 1963 1963
nan
nan
nan
nan
March 1963
March 1963 1963
1960s
1960s 1960
1971
1971 1971
1972
1972 1972
1973
1973 1973
1974
1974 1974
1975
1975 1975
February 1964
February 1964 1964
March 1965
March 1965 1965
1960s
1960s 1960
1960s-1970s
1960s-1970s 1970
1960s-1970s
1960s-1970s 1970
March-April 1964
March-April 1964 1964
1960s
1960s 1960
October 1965
October 1965 1965
October 1966
October 1966 1966
1972
1972 1972
nan
nan
nan
nan
nan
early 1960s
early 1960s 1960
1960s
1960s 1960
March 1963
March 1963 1963
June 1963
June 1963 1963
November 1963
November 1963 1963
October 1962
October 1962 1962
October 1962
October 1962 1962
September 1963
September 1963 1963
March-April 1964
March-April 1964 1964
1964
1964 1964
June 1963
June 1963 1963
1964
1964 1964
1966
1966 1966
nan
nan
nan
nan
nan
nan
nan
nan
December/January 1968
December/January 1968 1968
nan
nan
nan
nan
nan
August 1968
August 1968 1968
1971
1971 1971
1971
1971 1971
1961
1961 1961
nan
1972
1972 1972
1971
1971 1971
1972
1972 1972
April 1966
April 1966 1966
February/March 1967
February/March 1967 1967
September 1969
September 1969 1969
nan
September 1969
September 1969 1969
September 1969
September 1969 1969
September 1969
September 1969 1969
nan
nan
September 1969
September 1969 1969
March 1971
March 1971 1971
February 1965
February 1965 1965
March 1965
March 1965 1965
March 1965
March 1965 1965
May 1964
May 1964 1964
June 1964
June 1964 1964
June 1964
June 1964 1964
June 1964
June 1964 1964
October 1964
October 1964 1964
October 1964
October 1964 1964
November 1964
November 1964 1964
May 1969
May 1969 1969
February 1970
February 1970 1970
March 1970
March 1970 1970
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
July 1968
July 1968 1968
August 1969
August 1969 1969
August 1969
August 1969 1969
November 1970
November 1970 1970
November 1970
November 1970 1970
November 1970
November 1970 1970
May 1972
May 1972 1972
May 1972
May 1972 1972
May 1972
May 1972 1972
April 1969
April 1969 1969
February 1969
February 1969 1969
February 1969
February 1969 1969
November 1968
November 1968 1968
January 1972
January 1972 1972
nan
nan
nan
nan

In [128]:
df_pi.head()

,Person,Institution,Type of relationship (general),"Type of relationship (specific - professor, director, etc)",Time (discrete or interval),Brief note
0,Bethwell Ogot,Makerere University,Academic,Lecturer in History Department,NaN,Friend of Tom Mboya
1,Bethwell Ogot,University of Nairobi,Academic,Head of History Department,NaN,NaN
2,Bethwell Ogot,East African Institute for Social and Cultural...,Secretary General,NaN,NaN,NaN
3,Bethwell Ogot,East African Publishing House,Chair of Board of Directors,NaN,NaN,NaN
4,Bethwell Ogot,East African Academy,Treasurer,NaN,1966,"Elected treasurer at the 1966 symposium, Kampala"

In [129]:
df_pi["Year"] = df_pi["Time (discrete or interval)"].apply(compute_year)

nan
nan
nan
nan
1966
1966 1966
early 1960s
early 1960s 1960
nan
1960s
1960s 1960
1965
1965 1965
1965
1965 1965
nan
1968-1975
1968-1975 1975
1960s
1960s 1960
1961-1964
1961-1964 1964
February 1964
February 1964 1964
1964-1967
1964-1967 1967
nan
1966
1966 1966
nan
1963-1977
1963-1977 1977
1963-1968
1963-1968 1968
1965
1965 1965
1972-2002
1972-2002 2002
nan
nan
nan
nan
nan
1960-1963
1960-1963 1963
1967-1977
1967-1977 1977
1965
1965 1965
1969
1969 1969
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
1965
1965 1965
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
1951
1951 1951
nan
1956
1956 1956
1954
1954 1954
nan
1966
1966 1966
1966-1974
1966-1974 1974
1965
1965 1965
nan
nan
nan
nan
nan
nan
nan
1965
1965 1965

In [133]:
df_pi.to_csv(person_institution_fp)

In [131]:
df_pp.to_csv(person_publication_fp)

In [21]:
df_pe.to_csv(person_event_fp)