# Process

Update the data files to process time and places

In [37]:
import json

import pandas as pd
import networkx as nx
import numpy as np

In [38]:
def compute_year(time_value: str):
    # print(time_value)
    if pd.isna(time_value): return np.nan
    
    time_value = str(time_value)
    if time_value[-1] == "s":
        year = time_value[-5:-1]
    else:
        year = time_value[-4:] 
    
    year = int(year)
    # print(time_value, year)
    return year

In [39]:
# folder = "../data/april-02/"
folder = "../data/april-26/"

In [40]:
events_fp = folder + "Events.csv"
institutions_fp = folder + "Institutions.csv"
people_fp = folder + "People.csv"
publications_fp = folder + "Publications.csv"
events_fp = folder + "Events.csv"

person_institution_fp = folder + "Person-Institution.csv"
person_publication_fp = folder + "Person-Publication.csv"
person_event_fp = folder + "Person-Event.csv"

In [41]:
df_pi = pd.read_csv(person_institution_fp, header=0, sep=",")

In [42]:
df_pp = pd.read_csv(person_publication_fp, header=0, sep=",")

In [43]:
df_pe = pd.read_csv(person_event_fp, header=0, sep=",")

In [44]:
df_pi.head()

,Unnamed: 0,Person,Institution,Type of relationship (general),"Type of relationship (specific - professor, director, etc)",Time (discrete or interval),Time category,Place,Brief note,Event
0,0,Bethwell Ogot,Makerere University,Academic,Lecturer in History Department,NaN,NaN,NaN,Friend of Tom Mboya,NaN
1,1,Bethwell Ogot,University of Nairobi,Academic,Head of History Department,NaN,NaN,NaN,NaN,NaN
2,2,Bethwell Ogot,East African Institute for Social and Cultural...,Secretary General,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Bethwell Ogot,East African Publishing House,Chair of Board of Directors,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Bethwell Ogot,East African Academy,Treasurer,NaN,1966,Year,NaN,"Elected treasurer at the 1966 symposium, Kampala",NaN

In [45]:
df_pe.head()

,Person,Event,"Type of relationship (participated, created, against)",Time
0,Rebeka Njau,African Writers Conference,Participated,11-17 June 1962
1,Grace Ogot,African Writers Conference,Participated,11-17 June 1962
2,Ngũgĩ wa Thiong'o,African Writers Conference,Participated,11-17 June 1962
3,Rajat Neogy,African Writers Conference,Participated,11-17 June 1962
4,John Nagenda,African Writers Conference,Participated,11-17 June 1962

In [46]:
df_pe["Year"] = df_pe["Time"].apply(compute_year)

In [47]:
df_pp["Year"] = df_pp["Date written for publication"].apply(compute_year)

In [48]:
df_pi.head()

,Unnamed: 0,Person,Institution,Type of relationship (general),"Type of relationship (specific - professor, director, etc)",Time (discrete or interval),Time category,Place,Brief note,Event
0,0,Bethwell Ogot,Makerere University,Academic,Lecturer in History Department,NaN,NaN,NaN,Friend of Tom Mboya,NaN
1,1,Bethwell Ogot,University of Nairobi,Academic,Head of History Department,NaN,NaN,NaN,NaN,NaN
2,2,Bethwell Ogot,East African Institute for Social and Cultural...,Secretary General,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Bethwell Ogot,East African Publishing House,Chair of Board of Directors,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Bethwell Ogot,East African Academy,Treasurer,NaN,1966,Year,NaN,"Elected treasurer at the 1966 symposium, Kampala",NaN

In [49]:
df_pi["Year"] = df_pi["Time (discrete or interval)"].apply(compute_year)

In [50]:
df_pi.to_csv(person_institution_fp)

In [51]:
df_pp.to_csv(person_publication_fp)

In [52]:
df_pe.to_csv(person_event_fp)