# Process

Update the data files to process time and places

In [39]:
import json

import pandas as pd
import networkx as nx
import numpy as np

In [40]:
def compute_year(time_value: str):
    # print(time_value)
    if pd.isna(time_value): return np.nan
    
    time_value = str(time_value)
    if time_value[-1] == "s":
        year = time_value[-5:-1]
    else:
        year = time_value[-4:] 
    
    year = int(year)
    # print(time_value, year)
    return year

In [41]:
# folder = "../data/april-02/"
# folder = "../data/april-27/"
folder = "../data/may-02/"

In [42]:
events_fp = folder + "Events.csv"
institutions_fp = folder + "Institutions.csv"
people_fp = folder + "People.csv"
publications_fp = folder + "Publications.csv"
events_fp = folder + "Events.csv"

person_institution_fp = folder + "Person-Institution.csv"
person_publication_fp = folder + "Person-Publication.csv"
person_event_fp = folder + "Person-Event.csv"

In [43]:
df_pi = pd.read_csv(person_institution_fp, header=0, sep=",")

In [44]:
df_pp = pd.read_csv(person_publication_fp, header=0, sep=",")

In [45]:
df_pe = pd.read_csv(person_event_fp, header=0, sep=",")

In [46]:
df_pi.head()

,Person,Institution,Type of relationship (general),"Type of relationship (specific - professor, director, etc)",Time (discrete or interval),Time category,Place,Brief note,Event
0,Bethwell Ogot,Makerere University,Academic,Lecturer in History Department,NaN,NaN,NaN,Friend of Tom Mboya,NaN
1,Bethwell Ogot,University of Nairobi,Academic,Head of History Department,NaN,NaN,NaN,NaN,NaN
2,Bethwell Ogot,East African Institute for Social and Cultural...,Secretary General,NaN,NaN,NaN,NaN,NaN,NaN
3,Bethwell Ogot,East African Publishing House,Chair of Board of Directors,NaN,NaN,NaN,NaN,NaN,NaN
4,Bethwell Ogot,East African Academy,Treasurer,NaN,1966,Year,NaN,"Elected treasurer at the 1966 symposium, Kampala",NaN

In [47]:
df_pe.head()

,Person,Event,"Type of relationship (participated, created, against)",Time
0,Rebeka Njau,African Writers Conference,Participated,11-17 June 1962
1,Grace Ogot,African Writers Conference,Participated,11-17 June 1962
2,Ngũgĩ wa Thiong'o,African Writers Conference,Participated,11-17 June 1962
3,Rajat Neogy,African Writers Conference,Participated,11-17 June 1962
4,John Nagenda,African Writers Conference,Participated,11-17 June 1962

In [48]:
df_pe["Year"] = df_pe["Time"].apply(compute_year)

In [49]:
df_pp["Year"] = df_pp["Date written for publication"].apply(compute_year)

In [50]:
df_pi.head()

,Person,Institution,Type of relationship (general),"Type of relationship (specific - professor, director, etc)",Time (discrete or interval),Time category,Place,Brief note,Event
0,Bethwell Ogot,Makerere University,Academic,Lecturer in History Department,NaN,NaN,NaN,Friend of Tom Mboya,NaN
1,Bethwell Ogot,University of Nairobi,Academic,Head of History Department,NaN,NaN,NaN,NaN,NaN
2,Bethwell Ogot,East African Institute for Social and Cultural...,Secretary General,NaN,NaN,NaN,NaN,NaN,NaN
3,Bethwell Ogot,East African Publishing House,Chair of Board of Directors,NaN,NaN,NaN,NaN,NaN,NaN
4,Bethwell Ogot,East African Academy,Treasurer,NaN,1966,Year,NaN,"Elected treasurer at the 1966 symposium, Kampala",NaN

In [51]:
# take only non event institutions
# df_pi = df_pi[df_pi["Event"] != "Yes"]

In [52]:
df_pi["Year"] = df_pi["Time (discrete or interval)"].apply(compute_year)

In [53]:
df_pi.to_csv(person_institution_fp)

In [54]:
df_pp.to_csv(person_publication_fp)

In [55]:
df_pe.to_csv(person_event_fp)

# Filter institutions

In [90]:
df_i = pd.read_csv(institutions_fp, header=0, sep=",")

In [20]:
# REMOVE EVENTS IN INSTITUTIONS TABLE
# df_i = df_i[df_i.Event != "Yes"]

In [92]:
#df_i["Date of Creation"] = df_i["Date of Creation"].astype('Int64')

In [93]:
#df_i["Date of closing"] = df_i["Date of closing"].astype('Int64')

In [21]:
df_i.head()

NameError: name 'df_i' is not defined

In [95]:
df_i.to_csv(institutions_fp)

# Filter nodes that have only one event connexion

In [104]:
df_e = pd.read_csv(events_fp, header=0, sep=",")

In [105]:
df_e

,Name,Description,Date,Place
0,African Writers Conference,"Officially titled ""Conference of African Write...",11-17 June 1962,Kampala
1,Conference for the Pan-African Freedom Movemen...,"Held in Mwanza, Tanganyika to establish PAFMEC...",16-18 September 1958; April 1959; September 19...,"Mwanza, Tanganykia; Zanzibar, Tanganykia; Mosh..."
2,UNESCO conference,Dar es Salaam,July 1971,NaN

In [111]:
person_with_events = []
person_to_keep = []
person_to_remove = []


for i, row in df_pe.iterrows():
    per = row.Person
    if per in person_with_events:
        person_to_keep.append(per)
    person_with_events.append(per)

    
for i, row in df_pi.iterrows():
    per = row.Person
    if per in person_with_events:
        person_to_keep.append(per)
        
    
for i, row in df_pp.iterrows():
    per = row.Person
    if per in person_with_events:
        person_to_keep.append(per)

# print(person_to_keep)

for i, row in df_pe.iterrows():
    per = row.Person
    if per not in person_to_keep:
        person_to_remove.append(per)

In [112]:
person_to_remove

['Rebeka Njau',
 'Kanyama Chiume',
 'Paul Bomani',
 'Rashidi Kawawa',
 'Saidi Maswanya',
 'MM Kamaliza',
 'EMK Mulira',
 'Musa Shabani',
 'Solomon Ali Ufu',
 'Sekuwe Ali',
 'Dickson Oruko Makasembo',
 'Abdulla Mzee Khamis',
 'Omari Hamadi',
 'Mtumwa Borafia',
 'Bibi Titi Mohamed',
 'Roland Mwanjisi',
 'Edward Barongo',
 'Jeremiah Kasambala',
 'Sheikh Alli Muhsin Bharwani',
 'Ali Sultan',
 'Jamal Ramadan Nasibu',
 'Ronald Ngala',
 'David Itumo Kiamba',
 'Alfred Mingusa Akech',
 'James Nzau Muimi',
 'A Oloo',
 'Joseph Wasakulu',
 'A Ntale',
 'B A Misri',
 'Shafiq Arain',
 'Andrew Assey',
 'M N Rattansey',
 'S Sarda',
 'C D Shah',
 'N S Patel',
 'Alibhai Bhatia',
 'Oginga Odinga',
 'Mwai Kibaki',
 'Josiah Mwangi Kariuki',
 'Mbiyu Koinange',
 'M A Masswanya',
 'John Kakonge',
 'B N Kununka',
 'A Senyoga',
 'S S Kigonya',
 'O Shariff',
 'A K Hanga',
 'Amani Thani',
 'Oscar Kambona',
 'Joseph Murumbi',
 'Lennox Gondae',
 'James Kirua Wamatu',
 'Joni Kamwithi Munyi',
 'Arthur Ochwada',
 'A.Z. Nailo Swai',
 'Masinde Muliro',
 'James Ochwata',
 'Ezekiel Mphahele',
 'J.K. Kale',
 'Abu Mayaase',
 'Abu Mayansa',
 'B.N. Kununka',
 'Y Kirya',
 "J.M.B. Why'anka",
 'S.S. Chamsahsa',
 'Ali Nuhsin',
 'Joseph Mathenge',
 'Peter Mbiyu Koinange',
 'J.N. Muimi']

In [113]:
df_pe = df_pe[df_pe.Person.isin(person_to_keep)]

In [114]:
df_persons = pd.read_csv(people_fp, header=0, sep=",")

In [115]:
df_persons = df_persons[~df_persons.Name.isin(person_to_remove)]

In [116]:
df_pe.to_csv(person_event_fp)

In [117]:
df_persons.to_csv(people_fp)

# Filter nodes that have only one event connexion (for version without event nodes)

In [56]:
event_name = "Pan-African Freedom Movement for East and Central Africa"

In [57]:
person_with_events = []
person_to_keep = []
person_to_remove = []


for i, row in df_pi.iterrows():
    per = row.Person
    inst = row.Institution
    if inst == event_name:
        person_with_events.append(per)
        
    
for i, row in df_pi.iterrows():
    per = row.Person
    inst = row.Institution
    
    if inst != event_name and per in person_with_events:
        person_to_keep.append(per)
        
for i, row in df_pp.iterrows():
    per = row.Person
    if per in person_with_events:
        person_to_keep.append(per)

for person in person_with_events:
    if person not in person_to_keep:
        person_to_remove.append(person)

In [58]:
person_to_remove

['Julius Kiano',
 'DO Makasembo (Dixon Ruoko)',
 'DO Makasembo (Dixon Ruoko)',
 'EE Khasakhala',
 'EE Khasakhala',
 'EE Khasakhala',
 'Julius Nyerere',
 'Julius Nyerere',
 'Julius Nyerere',
 'Paul Bomani',
 'Rashidi Kawawa',
 'John Rupia',
 'John Rupia',
 'John Rupia',
 'Bhonke Munanka',
 'Bhonke Munanka',
 'Saidi Maswanya',
 'MM Kamaliza',
 'EMK Mulira',
 'Abeid Karume',
 'Abeid Karume',
 'Abeid Karume',
 'Abeid Karume',
 'Thabit Kombo',
 'Thabit Kombo',
 'Thabit Kombo',
 'Issa Shariff Musa',
 'Issa Shariff Musa',
 'Musa Shabani',
 'Rashidi Hamadi',
 'Rashidi Hamadi',
 'Rashidi Hamadi',
 'A R Mohamed (Babu)',
 'A R Mohamed (Babu)',
 'A R Mohamed (Babu)',
 'A R Mohamed (Babu)',
 'Mohsin Abeid',
 'Mohsin Abeid',
 'Abbas Sykes',
 'Jeremiah Bakampenja',
 'Jeremiah Bakampenja',
 'Solomon Ali Ufu',
 'Sekuwe Ali',
 'Dickson Oruko Makasembo',
 'Abdulla Mzee Khamis',
 'Omari Hamadi',
 'Mtumwa Borafia',
 'Bibi Titi Mohamed',
 'Roland Mwanjisi',
 'Edward Barongo',
 'Jeremiah Kasambala',
 'Sheikh Alli Muhsin Bharwani',
 'Ali Sultan',
 'Jamal Ramadan Nasibu',
 'Ronald Ngala',
 'David Itumo Kiamba',
 'William Malu',
 'William Malu',
 'Alfred Mingusa Akech',
 'James Nzau Muimi',
 'A Oloo',
 'Joseph Wasakulu',
 'Benedicto Kiwanuka',
 'Benedicto Kiwanuka',
 'A Ntale',
 'B A Misri',
 'Shafiq Arain',
 'Andrew Assey',
 'M N Rattansey',
 'S Sarda',
 'C D Shah',
 'N S Patel',
 'Alibhai Bhatia',
 'Oginga Odinga',
 'Mwai Kibaki',
 'Josiah Mwangi Kariuki',
 'Mbiyu Koinange',
 'M A Masswanya',
 'John Kakonge',
 'B N Kukunka',
 'A Senyoga',
 'S S Kigonya',
 'O Shariff',
 'A K Hanga',
 'Amani Thani']

In [59]:
df_pi = df_pi[~df_pi.Person.isin(person_to_remove)]

In [60]:
df_pi.to_csv(person_institution_fp)

In [61]:
df_persons = pd.read_csv(people_fp, header=0, sep=",")

In [62]:
df_persons = df_persons[~df_persons.Name.isin(person_to_remove)]

In [63]:
df_persons.to_csv(people_fp)