# Process

Update the data files to process time and places

In [21]:
import json

import pandas as pd
import networkx as nx
import numpy as np

In [62]:
def compute_year(time_value: str):
    if pd.isna(time_value): return np.nan
    
    time_value = str(time_value)
    if time_value[-1] == "s":
        year = time_value[-5:-1]
    else:
        year = time_value[-4:] 
    
    year = int(year)
    print(time_value, year)
    return year

In [63]:
folder = "../data/avril-02/"

In [64]:
events_fp = folder + "Events.csv"
institutions_fp = folder + "Institutions.csv"
people_fp = folder + "People.csv"
publications_fp = folder + "Publications.csv"

person_institution_fp = folder + "Person-Institution.csv"
person_publication_fp = folder + "Person-Publication.csv"
person_event_fp = folder + "Person-Event.csv"

In [65]:
df_pi = pd.read_csv(person_institution_fp, header=0)

In [66]:
df_pp = pd.read_csv(person_publication_fp, header=0)

In [67]:
df_pp.head()

,Person,Brief note,Publication,"Type of relationship (writer, reader, etc)",Date written for publication,Volume/Issue/Number,Date established,Date closed down
0,Bethwell Ogot,NaN,Kenya Historical Review,Contributor,1974,"Vol 2, No. 2",NaN,NaN
1,Bethwell Ogot,NaN,Kenya Historical Review,Contributor,1976,"Vol 4, No. 1",NaN,NaN
2,Bethwell Ogot,NaN,Transition,Contributor,September 1963,"Vol 4, No. 10",NaN,NaN
3,Bethwell Ogot,NaN,East Africa Journal,Editor,NaN,NaN,NaN,NaN
4,Shaaban Robert,NaN,Mambo Leo,Writer,NaN,NaN,NaN,NaN

In [68]:
df_pp["Year"] = df_pp["Date written for publication"].apply(compute_year)

1974 1974
1974
1976 1976
1976
September 1963 1963
1963
March 1963 1963
1963
1960s 960s

ValueError: invalid literal for int() with base 10: '960s'

In [60]:
df_pp.head()

,Person,Brief note,Publication,"Type of relationship (writer, reader, etc)",Date written for publication,Volume/Issue/Number,Date established,Date closed down
0,Bethwell Ogot,NaN,Kenya Historical Review,Contributor,1974,"Vol 2, No. 2",NaN,NaN
1,Bethwell Ogot,NaN,Kenya Historical Review,Contributor,1976,"Vol 4, No. 1",NaN,NaN
2,Bethwell Ogot,NaN,Transition,Contributor,September 1963,"Vol 4, No. 10",NaN,NaN
3,Bethwell Ogot,NaN,East Africa Journal,Editor,NaN,NaN,NaN,NaN
4,Shaaban Robert,NaN,Mambo Leo,Writer,NaN,NaN,NaN,NaN